<footer class="mt-5 mx-auto px-5 py-4">
  <!------------ LOGO -->
  <img
    class="logo"
    src="assets/images/Logo.png"
    alt="logo trouve ton artisan"
  />
  <div class="d-lg-flex">
    <!--------- ADRESS      -->
    <address class="pb-3">
      <p class="mb-3">
        101 cours Charlemagne<br />
        CS 20033 <br />69269 LYON CEDEX 02<br />
        France
      </p>
      <a href="tel:+33 4 26 73 40 00"
        ><img src="assets/images/phone.png" alt="logo téléphone" /> +33 (0)4 26
        73 40 00</a
      >
    </address>
    <!------------ NAV -->
    <div class="px-lg-5 mx-lg-auto">
      <ul class="d-lg-flex">
        <li class="px-lg-5"><a routerLink="/mentions">Mentions légales</a></li>
        <li class="px-lg-5">
          <a routerLink="/données">Données personnelles</a>
        </li>
        <li class="px-lg-5">
          <a routerLink="/accessibilite">Accessibilité</a>
        </li>
        <li class="px-lg-5"><a routerLink="/coockies">Coockies</a></li>
      </ul>
    </div>
  </div>
</footer>
