* {
  background-color: rgb(0, 116, 199);
  color: white;
  .logo {
    width: 15em;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  li {
    padding: 0.5em 0;
  }
}
