<header class="sticky-top">
  <nav class="navbar navbar-expand-lg shadow-sm">
    <div class="container-fluid">
      <!--------------   LOGO   ------------->
      <a (click)="resetFilter()" class="navbar-brand logo" routerLink="/"
        ><img
          class="logo"
          src="assets/images/Logo.png"
          alt="logo trouve ton artisan"
      /></a>
      <button
        class="navbar-toggler border-0 d-flex flex-column d-lg-none"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon mx-auto"></span>menu
      </button>
      <!--------------  NAV       -->
      <div
        class="collapse navbar-collapse d-lg-flex justify-content-between rounded"
        id="navbarNav"
      >
        <ul class="navbar-nav d-lg-flex">
          <li class="nav-item">
            <a (click)="btp()" class="nav-link" routerLink="/artisan"
              >Bâtiment</a
            >
          </li>
          <li class="nav-item">
            <a (click)="services()" class="nav-link" routerLink="/artisan"
              >Services</a
            >
          </li>
          <li class="nav-item">
            <a (click)="alimentation()" class="nav-link" routerLink="/artisan"
              >Alimentation</a
            >
          </li>
          <li class="nav-item">
            <a (click)="fabrication()" class="nav-link" routerLink="/artisan"
              >Fabrication</a
            >
          </li>
        </ul>
        <!-------      RECHERCHE      -->
        <form class="d-flex form" role="search">
          <input
            class="text form-control me-2"
            type="text"
            placeholder="Recherche"
            aria-label="Search"
            name="artisansSearch"
            #filter
          />
          <a routerLink="/artisan"
            ><button
              class="btn btn-outline-success bg-light"
              type="submit"
              (click)="searchClick(filter.value)"
            >
              <img
                class="search"
                src="assets/images/search.png"
                alt="logo recherche"
              /></button
          ></a>
        </form>
      </div>
    </div>
  </nav>
</header>
