header {
  background-color: #ffffff;
  font-size: 1.2rem;
}
.logo {
  width: 10em;
}
#navbarNav {
  background-color: rgb(0, 116, 199);
  a {
    color: white;
    &:hover {
      text-decoration: underline;
    }
  }
}
.navbar-nav {
  margin-left: 2em;
  list-style: disc;
  color: white;
}

.navbar-toggler {
  color: #0074c7;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 116, 199, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

  width: 2.3em;
}

.form {
  margin: 2em;

  border-top: none;
  border-left: none;
  border-right: solid 1px #0074c7;
  border-bottom: solid 1px #0074c7;

  .text {
    border: none;
  }
  .btn {
    border: none;
    padding: 0;

    width: 2.1em;
    height: 2.1em;
  }
  .search {
    height: 100%;
    border-radius: 5px;
    &:hover {
      border: solid 1px #0074c7;
    }
  }
}
@media (min-width: 992px) {
  #navbarNav {
    background-color: #ffffff;
    a {
      color: #0074c7;
    }
  }
  .navbar-nav {
    margin-left: 4em;
    list-style: none;
  }

  .nav-item {
    padding-left: 2em;
  }
  .btn {
    margin-right: 0.5em;
  }
}
